setuptools
meson-python
pybind11
hatch_fancy_pypi_readme
setuptools_scm
hatchling
scikit-build-core
scikit-build
patchelf
numpy<=1.26.4
wheel
Pillow
pyusb
pyserial
wxPython
ezdxf>=0.14
opencv-python-headless
websocket-client
#vtracer
#numba
#clipper
#barrcode-plugin
